@tailwind base;

@tailwind components;

@tailwind utilities;

.hero {
  @apply relative;
}

.hero-content {
  @apply absolute top-0 left-0 h-40 w-full py-4 text-white;
}

.hero-title {
  @apply text-3xl font-bold leading-tight tracking-wide;
}

.hero-bg {
  @apply bg-blue-500 relative h-60 bg-cover bg-center;
  background-image: url("https://images.unsplash.com/photo-1501386761578-eac5c94b800a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80");
}

.hero-bg__overlay {
  @apply bg-black opacity-50 absolute left-0 top-0 w-full h-full;
}

.hero-bg__bottom {
  @apply absolute left-0 w-full h-8 bg-white;
  top: calc(100% - 16px);
  transform: skew(0deg, -3deg);
}

.overlay-header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.23), rgba(255, 255, 255, 0));
  background-size: cover;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}
